@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    url('./fonts/NotoSans-Black.woff2') format('woff2'),
    url('./fonts/NotoSans-Black.woff') format('woff');
}
  
@font-face {
  font-family: 'Noto Sans';
  font-style: Italic;
  font-display: swap;
  font-weight: 900;
  src:
    url('./fonts/NotoSans-BlackItalic.woff2') format('woff2'),
    url('./fonts/NotoSans-BlackItalic.woff') format('woff');
}
  
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url('./fonts/NotoSans-Bold.woff2') format('woff2'),
    url('./fonts/NotoSans-Bold.woff') format('woff');
}
  
@font-face {
  font-family: 'Noto Sans';
  font-style: Italic;
  font-display: swap;
  font-weight: 700;
  src:
    url('./fonts/NotoSans-BoldItalic.woff2') format('woff2'),
    url('./fonts/NotoSans-BoldItalic.woff') format('woff');
}
  
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    url('./fonts/NotoSans-ExtraBold.woff2') format('woff2'),
    url('./fonts/NotoSans-ExtraBold.woff') format('woff');
}
  
@font-face {
  font-family: 'Noto Sans';
  font-style: Italic;
  font-display: swap;
  font-weight: 800;
  src:
    url('./fonts/NotoSans-ExtraBoldItalic.woff2') format('woff2'),
    url('./fonts/NotoSans-ExtraBoldItalic.woff') format('woff');
}
  
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    url('./fonts/NotoSans-ExtraLight.woff2') format('woff2'),
    url('./fonts/NotoSans-ExtraLight.woff') format('woff');
}
  
@font-face {
  font-family: 'Noto Sans';
  font-style: Italic;
  font-display: swap;
  font-weight: 200;
  src:
    url('./fonts/NotoSans-ExtraLightItalic.woff2') format('woff2'),
    url('./fonts/NotoSans-ExtraLightItalic.woff') format('woff');
}
  
@font-face {
  font-family: 'Noto Sans';
  font-style: Italic;
  font-display: swap;
  font-weight: 400;
  src:
    url('./fonts/NotoSans-Italic.woff2') format('woff2'),
    url('./fonts/NotoSans-Italic.woff') format('woff');
}
  
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    url('./fonts/NotoSans-Light.woff2') format('woff2'),
    url('./fonts/NotoSans-Light.woff') format('woff');
}
  
@font-face {
  font-family: 'Noto Sans';
  font-style: Italic;
  font-display: swap;
  font-weight: 300;
  src:
    url('./fonts/NotoSans-LightItalic.woff2') format('woff2'),
    url('./fonts/NotoSans-LightItalic.woff') format('woff');
}
  
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    url('./fonts/NotoSans-Medium.woff2') format('woff2'),
    url('./fonts/NotoSans-Medium.woff') format('woff');
}
  
@font-face {
  font-family: 'Noto Sans';
  font-style: Italic;
  font-display: swap;
  font-weight: 500;
  src:
    url('./fonts/NotoSans-MediumItalic.woff2') format('woff2'),
    url('./fonts/NotoSans-MediumItalic.woff') format('woff');
}
  
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url('./fonts/NotoSans-Regular.woff2') format('woff2'),
    url('./fonts/NotoSans-Regular.woff') format('woff');
}
  
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    url('./fonts/NotoSans-SemiBold.woff2') format('woff2'),
    url('./fonts/NotoSans-SemiBold.woff') format('woff');
}
  
@font-face {
  font-family: 'Noto Sans';
  font-style: Italic;
  font-display: swap;
  font-weight: 600;
  src:
    url('./fonts/NotoSans-SemiBoldItalic.woff2') format('woff2'),
    url('./fonts/NotoSans-SemiBoldItalic.woff') format('woff');
}
  
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    url('./fonts/NotoSans-Thin.woff2') format('woff2'),
    url('./fonts/NotoSans-Thin.woff') format('woff');
}
  
@font-face {
  font-family: 'Noto Sans';
  font-style: Italic;
  font-display: swap;
  font-weight: 100;
  src:
    url('./fonts/NotoSans-ThinItalic.woff2') format('woff2'),
    url('./fonts/NotoSans-ThinItalic.woff') format('woff');
}